---
layout: page
# All the Tags of posts.
---

<div id="tags" class="d-flex flex-wrap">
  {% assign all_items = site.posts | concat: site.academia %}
  {% assign tags = '' | split: '' %}

  {% for item in all_items %}
    {% if item.tags %}
      {% for t in item.tags %}
        {% unless tags contains t %}
          {% assign tags = tags | push: t %}
        {% endunless %}
      {% endfor %}
    {% endif %}
  {% endfor %}

  {% assign sorted_tags = tags | sort_natural %}

  {% for t in sorted_tags %}
    <div>
      <a class="tag" href="{{ t | slugify | url_encode | prepend: '/tags/' | append: '/' | relative_url }}">
        {{ t | escape }}
        <span class="text-muted">
          {% assign count = 0 %}
          {% for item in all_items %}
            {% if item.tags contains t %}
              {% assign count = count | plus: 1 %}
            {% endif %}
          {% endfor %}
          {{ count }}
        </span>
      </a>
    </div>
  {% endfor %}
</div>