@use '../abstracts/variables' as v;
@use '../abstracts/mixins' as mx;
@use '../abstracts/breakpoints' as bp;
@use '../abstracts/placeholders';

#topbar-wrapper {
  height: v.$topbar-height;
  background-color: var(--topbar-bg);
  position: fixed;
  z-index: 100;
  top: 0;
  left: v.$sidebar-width;
  width: calc(100% - v.$sidebar-width);

  @include bp.lt(bp.get(lg)) {
    @include mx.slide(top 0.2s ease);
    width: 100%;
    left: 0;
  }

  @include bp.xxxl {
    left: v.$sidebar-width-large;
    width: calc(100% - v.$sidebar-width-large);
  }
}

#topbar {
  @extend %btn-color;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: v.$topbar-height;
  padding: 1rem 2.25rem;

  #breadcrumb {
    font-size: 1rem;
    color: var(--text-muted-color);
    padding-left: 0.5rem;

    a:hover {
      @extend %link-hover;
    }

    span {
      &:not(:last-child) {
        &::after {
          content: '›';
          padding: 0 0.3rem;
        }
      }
    }

    @include bp.lt(bp.get(lg)) {
      display: none;
    }

    @include bp.between(bp.get(lg), calc(#{bp.get(xl)} - 1px)) {
      width: 65%;
      overflow: hidden;
      text-overflow: ellipsis;
      word-break: keep-all;
      white-space: nowrap;
    }
  }

  .logo-img{
    max-height: v.$topbar-height - 2rem;
  }

  .nav{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: right;

    .topbar-nav{
      width: 100%;

      ul{
        display: flex;
        justify-content: right;
        gap: 40px;
        align-items: end;
        list-style: none;
        li{
          cursor: pointer;
          a{
            color: var(--heading-color);

            .about-circle{
              width: 30px;
              border-radius: 50%;
            }
          }
        }
        li.active a{
          color: var(--gold-color)
        }

        li.active img{
          border: 2px solid var(--gold-color);
        }

        li a:hover{
          color: var(--gold-color)
        }

        li img:hover{
          border: 2px solid var(--gold-color);
        }
      }
    }

    .topbar-underline{
      width: 95%;
      border-bottom: 16px solid var(--gold-color);

      @include bp.lt(bp.get(lg)) {  // para pantallas menores que 'lg'
        display: none;
      }
    }

    @include bp.lt(bp.get(lg)) {
      display: none;
    }
  }

  @include bp.lte(bp.get(md)) {
    @include mx.max-w-100;
  }

  @include bp.lt(bp.get(lg)) {
    max-width: 100%;
  }
}

.sidebar-search-responsive{
  padding: 0 2.25rem 0.5rem 2.25rem;
  display: flex;
  justify-content: right;
  background-color: var(--topbar-bg);

  #search-trigger {
    display: none;
  }
  #search{
    margin: 0;
    display: flex;
    #search-input{
      @include bp.lt(bp.get(lg)) {
        text-align: center;
      }
    }
  }
}

#topbar-title {
  display: none;
  font-size: 1.1rem;
  font-weight: 600;
  font-family: sans-serif;
  color: var(--topbar-text-color);
  text-align: center;
  width: 70%;
  word-break: keep-all;

  @include bp.lt(bp.get(lg)) {
    display: block;
  }

  @include bp.lg {
    text-align: left;
  }
}

#sidebar-trigger{
  display: none;

  @include bp.lt(bp.get(lg)) {
    display: block;
  }
}